.body {
    background-color: #8FBC8F;
    margin: auto;
    text-align: center;
  }
  
 . hr{
    border-style:none;
  margin-top: 0;
  }
  
  .top-container{
    margin: auto;
    text-align: center;
  }
  
  .middle-container{
    margin: auto;
    text-align: center;
  }
  